/* 
    Document   : application
    Created on : Feb 17, 2013, 12:23:42 AM
    Author     : arman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.food-item {
  margin-right: 15px;
}

.food-item.has-alternative {
  float: left;
}

.order h3 {
  margin-right: 10px;
}